<link rel="stylesheet" type="text/css" href="{{ b }}catalog/view/theme/default/stylesheet/esp_common.css">

<div class="payment-form-wrapper">
    <form id="payment-form">
        <fieldset>
            <legend class="card-only">This payment method is currently unavailable for use. Please contact the website owner.</legend>
        </fieldset>
    </form>
</div>

<script type="text/javascript">
    console.log('{{ version }}');
</script>
