#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^52\.88\.45\.156$
#RewriteRule ^(.*)$ http://gbio.tecziqdemo.com/admin$1 [L,R=301]
#RewriteCond %{HTTPS} !=on
#RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

#AuthUserFile /var/www/html/production/source/admin/.htpasswd
#AuthType Basic
#AuthName "Restricted Content"
#Allow from env=!HTTPS
#Require valid-user

# Force from HTTP to HTTPS
# RewriteEngine On
# #RewriteCond %{HTTP_HOST} ^52\.88\.45\.156$
# RewriteCond %{HTTP_HOST} ^52\.41\.172\.71$
# RewriteRule ^(.*)$ http://www.gbiosciences.com/admin$1 [L,R=301]
# RewriteCond %{HTTPS} off
# RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

# Secure this /secured section
<If "%{HTTPS} == 'on'">
 #AuthUserFile /var/www/html/production/source/admin/.htpasswd
 AuthUserFile D:/xampp/htdocs/gbiosciences/admin/.htpasswd
 AuthName "Restricted Content"
 AuthType Basic
 require valid-user
</If>
